<!DOCTYPE html>
<html>


/* Header */

header {
    background-color: lightgreen;
    padding: 0 1rem;
}

/* Main Content */
body {
    background-color:  lightskyblue;
}

/* Footer */
footer {
    background-color: lightgreen;
}

/*  Small header*/
.smallHeader {
    width: 100%;
    height: auto;
}

/* Gallery page */
#photos img {
    width:100%;
    line-height: 1em;
    
    
}

#photos {
    line-height: 0;
}
