

/*global styles */ 
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

/* image colour picker css code based on company logo */

/* CSS HEX 
--stromboli: #32584d;
--white-rock: #eae2cf;
--sandrift: #ac997d;
--sorrell-brown: #cfba9b;
--domino: #817159;
--roman-coffee: #75624d;
--gulf-stream: #8cbbb1;
--tradewind: #61afa4;
--tea: #c2b9ae;
--dawn: #9e9b95;

*/






/* Header */

header {
   background-color: #61afa4;
    
}
 
title {

}

h1, h2, body {
    font-family: Lato, Geneva, Tahoma, sans-serif;
    color: black;

}

/* Main Content */
body {
    background-color: #c2b9ae;
    



/*  Hero image*/
.hero {
    width: 200%;
    height: 300%;
    position: fixed, center;
}




/* Gallery page */
.img src {
    width: 50px;
    line-height: 1em;
    border-radius: 8px;
}

#photos {
    line-height: 0;
}


.form-large  

/* Footer */
.footer {
    background-color: lightgrey;
}

.fa-facebook {
    background: #3B5998;
    color: white;

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration:solid;
  }



/*  Services Page */
.id=
table {
    border: collapse;
}

td, th {
    border: 1px solid-black;
}

h3 {
    text-emphasis-position: center;
    text-emphasis color: darkgreen ;
}
/* Prices Page */
#prices
.table {
	width: 70%;
    background-color: white;
}

tr {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

tr, th, td {
	text-align: left;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}