

/*global styles */ 

@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");


/* image colour picker css code based on company logo */

/* CSS HEX 
--stromboli: #32584d;
--white-rock: #eae2cf;
--sandrift: #ac997d;
--sorrell-brown: #cfba9b;
--domino: #817159;
--roman-coffee: #75624d;
--gulf-stream: #8cbbb1;
--tradewind: #61afa4;
--tea: #c2b9ae;
--dawn: #9e9b95;

*/

.lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
  }
  




/* Header */

header {
   background-color: #61afa4;
    
}
 
#hero { 
    background-image: url(url(../DALL·E 2024-12-28 19.11.52 - A professional and warm logo design for 'Happy Tails Pet Services'. The logo features a friendly dog and a relaxed cat sitting together under a styliz (1).webp);
    background-size: cover;
    background-position: 50% 70%;
    min-height: 400px;
    padding: 6% 8%
}


h1, h2, body {
    font-family: "Lato", Geneva, Tahoma, sans-serif;
    color: black;
    justify-content: center;

}

/* Main Content */
body {
    background-color: #c2b9ae;
   
}
    



/*  Hero image*/
.hero {
    width: 250%;
    height: 350%;
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}




/* Gallery page */



/* Footer */
.footer {
    background-color: lightgrey;
}


/* Style all font awesome icons */
.fa-facebook {
    background: #3B5998;
    color: white;
    justify-content: center;
}

.fa-instagram  {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    justify-content: center;
    text-decoration:solid;
  }

  .fa-x-twitter  {
    color: black;
    justify-content: center;
  }



/*  Services Page */

.services.table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

h3 {
    text-emphasis-position: center;
    text-emphasis color: darkgreen ;
}
/* Prices Page */

.prices.table, th, td{

	border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}

tr {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

tr, th, td {
	text-align: left;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}